# virtual environments
venv
.venv
# cache files
*cache*
# Unit test / coverage reports
htmlcov/
# Jupyter Notebook
.ipynb_checkpoints
# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version
# IDE
.vscode
# configuring projects and tools
**pyprojects.toml
requirements*
# permit checkin of input for pip-compile to create a requirements.txt
!requirements.in
